.owl-nav {
  position: absolute;
  top: -115px;
  right: 0;
  display: flex;
}
.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
  font-size: 3rem;
  background-color: #444;
  padding: 0 1rem !important;
  outline: none;
  display: inline-block;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  transition: 0.4s ease-out;
}
.owl-carousel .owl-nav button.owl-next:hover,
.owl-carousel .owl-nav button.owl-prev:hover,
.owl-carousel button.owl-dot:hover {
  background-color: var(--primary-color);
}
.owl-carousel .owl-nav button.owl-prev {
  margin-right: 0.5rem;
}
