.container {
  position: absolute;
  width: 80%;
  height: 80%;
  display: flex;
  background-color: var(--container-bg);
  border-radius: 30px;
  top: 10%;
  left: 10%;

  &__left {
    flex: 0 0 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-right: 1px solid #dddddd2f;
    // position: relative;
    .avater {
      border-radius: 50%;
      width: 200px;
      height: 200px;
      img {
        border-radius: 50%;
      }
    }
    .identity {
      text-align: center;
      margin-bottom: 1rem;
      &__name {
        margin-bottom: 0.3rem;
        font-size: 3rem;
        text-transform: capitalize;
      }
      &__profession {
        margin: 0;
        font-size: 2rem;
        text-transform: capitalize;
        color: #dddddd;
        font-weight: 300;
      }
    }
    .main-menu {
      position: absolute;
      right: 0;
      z-index: 999;
      transform: translateX(120%);
      border-radius: 100px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      list-style: none;
      margin: 0;
      padding: 0;
      top: 0;
      padding: 2rem 0;
      background-color: #353b48;
      &__item:not(:last-child) {
        margin-bottom: 2rem;
      }
      &__link {
        padding: 0 2rem;
        position: relative;
        text-decoration: none;
        color: #dddddd;
        display: flex;
        align-items: center;
        justify-content: center;
        .menu-text {
          position: absolute;
          background-color: var(--primary-color);
          padding: 0.5rem 1rem;
          transition: 0.4s ease-out;
          z-index: 100;
          visibility: hidden;
          opacity: 0;
          right: 0;
        }
        &:hover {
          .menu-icon {
            .menu-icon__icon {
              fill: var(--primary-color);
            }
          }
          .menu-text {
            opacity: 1;
            visibility: visible;
            right: 100%;
          }
        }
      }

      &__link--active {
        .menu-icon__icon {
          fill: var(--primary-color);
        }
      }
    }
    .social {
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      padding: 0;
      margin: 1rem 0;
      &__item:not(:last-child) {
        margin-right: 1rem;
      }
      &__link {
        width: 3.5rem;
        height: 3.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.4s ease-out;
        border-radius: 50%;
      }
      &__link:hover {
        background-color: #dddddd3f;
      }
    }
    .cv {
      margin-top: 3rem;
      margin-bottom: 1.6rem;
    }
    .footer {
      position: absolute;
      bottom: 0rem;
      &__text {
        font-size: 1.4rem;
        text-transform: capitalize;
        color: #ece8e896;
      }
    }
  }

  &__right {
    position: relative;
    flex: 0 0 65%;
    display: flex;
    border-radius: 0 30px 30px 0;
    & > * {
      position: absolute;
      top: 0;
      left: 0;
      background-color: var(--section-bg);
      width: 100%;
      min-height: 100%;
      height: 100%;
      padding: 4rem;
      border-radius: 30px;
      transition: 0.4s ease-out;
      visibility: hidden;
      overflow: auto;
      opacity: 0;

      &::-webkit-scrollbar {
        width: 5px;
        height: 80%;
        margin-right: 3rem;
      }

      &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
        margin: 3rem 0;
        margin-right: 3rem;
      }

      &::-webkit-scrollbar-thumb {
        background-color: rgb(151, 149, 149);
        border-radius: 500px;
        margin-right: 3rem;
      }
    }
    & > .visible {
      opacity: 1;
      visibility: visible;
    }
  }
}
