.container {
  position: absolute;
  width: 80%;
  display: flex;
  background-color: var(--container-bg);
  border-radius: 30px;
  top: 10%;
  left: 10%;
  #particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  @media only screen and (min-width: 1025px) {
    height: 80%;
  }
  @media only screen and (max-width: 1024px) {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 0;
    display: block;
  }

  &__left {
    flex: 0 0 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-right: 1px solid #dddddd2f;
    background-color: var(--container-bg);
    transition: 0.4s ease-out;
    border-radius: 30px 0 0 30px;

    @media only screen and (max-width: 1024px) {
      position: absolute;
      z-index: 10;
      top: 0;
      right: 0;
      height: 100%;
      justify-content: flex-start;
      padding: 2rem 7rem;
      padding-bottom: 5rem;
      overflow: auto;
      transform: translateX(100%);
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      z-index: 50;
      &.open {
        transform: translateX(0);
      }
    }

    .avater {
      border-radius: 50%;
      width: 200px;
      height: 200px;

      @media only screen and (max-width: 1024px) {
        width: 150px;
        height: 150px;
      }
      img {
        border-radius: 50%;
      }
    }
    .identity {
      text-align: center;
      margin-bottom: 1rem;
      &__name {
        margin-bottom: 0.3rem;
        font-size: 3rem;
        text-transform: capitalize;
      }
      &__profession {
        margin: 0;
        font-size: 2rem;
        text-transform: capitalize;
        color: #dddddd;
        font-weight: 300;
      }
    }
    .main-menu {
      position: absolute;
      right: 0;
      z-index: 999;
      transform: translateX(120%);
      border-radius: 100px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      list-style: none;
      margin: 0;
      padding: 0;
      top: 0;
      padding: 2rem 0;
      background-color: #353b48;

      @media only screen and (max-width: 1024px) {
        position: static;
        display: block;
        transform: translateX(0%);
      }
      &__item:not(:last-child) {
        margin-bottom: 2rem;
      }
      &__link {
        padding: 0 2rem;
        position: relative;
        text-decoration: none;
        color: #dddddd;
        display: flex;
        align-items: center;
        justify-content: center;
        .menu-text {
          position: absolute;
          background-color: var(--primary-color);
          padding: 0.5rem 1rem;
          transition: 0.4s ease-out;
          z-index: 100;
          visibility: hidden;
          opacity: 0;
          right: 0;
        }
        &:hover {
          .menu-icon {
            .menu-icon__icon {
              fill: var(--primary-color);
            }
          }
          .menu-text {
            opacity: 1;
            visibility: visible;
            right: 100%;
          }
        }

        @media only screen and (max-width: 1024px) {
          .menu-icon {
            display: none;
          }
          .menu-text {
            position: static;
            background-color: transparent;
            padding: 0;
            transition: 0.4s ease-out;
            z-index: 10;
            visibility: visible;
            opacity: 1;
            color: #b5b6b7;
          }
          &.main-menu__link--active {
            .menu-text {
              color: white;
              font-weight: bold;
            }
          }
        }
      }

      &__link--active {
        .menu-icon__icon {
          fill: var(--primary-color);
        }
      }
    }

    .social {
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      padding: 0;
      margin: 1rem 0;
      &__item:not(:last-child) {
        margin-right: 1rem;
      }
      &__link {
        width: 3.5rem;
        height: 3.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.4s ease-out;
        border-radius: 50%;
      }
      &__link:hover {
        background-color: #dddddd3f;
      }
    }
    .cv {
      margin-top: 3rem;
      margin-bottom: 1.6rem;
    }
    .footer {
      position: absolute;
      bottom: 0rem;
      @media only screen and (max-width: 1024px) {
        bottom: -5rem;
      }
      &__text {
        font-size: 1.4rem;
        text-transform: capitalize;
        color: #ece8e896;
      }
    }
  }

  &__right {
    position: relative;
    flex: 0 0 65%;
    display: flex;
    border-radius: 0 30px 30px 0;
    @media only screen and (max-width: 1024px) {
      height: 100%;
      border-radius: 0;
    }
    background-color: var(--section-bg);
    & > section {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      min-height: 100%;
      height: 100%;
      padding: 4rem;
      border-radius: 0 30px 30px 0;
      transition: 0.4s ease-out;
      visibility: hidden;
      overflow: auto;
      opacity: 0;
      @media only screen and (max-width: 1024px) {
        border-radius: 0;
        padding: 6rem;
      }
      @media only screen and (max-width: 480px) {
        padding: 5rem;
      }

      &::-webkit-scrollbar {
        width: 5px;
        height: 80%;
        margin-right: 3rem;
      }

      &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
        margin: 3rem 0;
        margin-right: 3rem;
      }

      &::-webkit-scrollbar-thumb {
        background-color: rgb(151, 149, 149);
        border-radius: 500px;
        margin-right: 3rem;
      }
    }
    & > .visible {
      opacity: 1;
      visibility: visible;
    }
  }
}
