#paralex {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  top: 0;
  left: 0;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1e90ff;
  background-image: url(../../build/images/bg-image.png);
  background-size: 115%;
  background-position: 40% 40%;
}
