#about {
  // position: relative;

  & > div {
    margin-bottom: 5rem;
  }
  .about__me {
    display: flex;
    justify-content: space-between;
    @media only screen and (max-width: 575px) {
      flex-direction: column;
    }
    &--text {
      flex: 0 0 45%;
      @media only screen and (max-width: 575px) {
        margin-bottom: 3rem;
      }
    }
    &--info {
      flex: 0 0 45%;
      list-style: none;
      margin: 0;
      padding: 0;
    }
    &--info-item {
      span {
        margin-right: 1rem;
        font-weight: 700;
      }
    }
    &--info-item:not(:last-child) {
      margin-bottom: 1.5rem;
    }
  }
  .about__do {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    @media only screen and (max-width: 575px) {
      flex-direction: column;
    }
    & > div {
      flex: 50% 0 0;
      padding: 1rem;
      display: flex;
      flex-direction: column;
    }
    &-what {
      &--icon {
        .what-icon {
          fill: var(--primary-color);
          width: 5rem;
          height: 5rem;
        }
      }
      &--text {
        margin-top: 1rem;
      }
    }
  }
  #testimonials {
    width: 100%;
    overflow: hidden;
  }
  .testimonials {
    margin-top: 6rem;
    width: 100%;

    .testimonial {
      position: relative;
      padding: 3rem;
      border-radius: 2rem;
      border: 2px solid #dddddd;
      padding-top: 5rem;
      // margin-right: 3rem;

      &__avatar {
        border-radius: 50%;
        width: 10rem;
        height: 10rem;
        transform: translate(-50%, -100%);
        left: 50%;
        position: absolute;
        background-color: #dddddd;
        img {
          border-radius: 50%;
        }
      }
      &__text {
        font-style: italic;
      }
      &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &--name {
          margin: 0;
          display: flex;
          flex-direction: column;
          text-transform: capitalize;
          & span:first-child {
            font-size: 1.6rem;
            color: rgb(238, 238, 238);
          }
          & span:nth-child(2) {
            color: #dddddd86;
            font-weight: 300;
          }
        }
        &--fiverr-link {
          display: inline-block;
          width: 50px;
          height: 40px;
          overflow: hidden;
        }
        &--fiverr-icon {
          width: 50px;
          height: 50px;
        }

        &--icon {
          .testimonial--icon {
            width: 3rem;
            height: 3rem;
            fill: var(--primary-color);
          }
        }
      }
    }
  }
  .pricing {
    display: flex;
    justify-content: space-between;
    @media only screen and (max-width: 575px) {
      flex-direction: column;
    }
    .plan {
      background-color: #353b48;
      padding: 2rem;
      flex: 48% 0 0;
      border-radius: 1rem;
      border: 2px solid #46474b8a;
      display: flex;
      flex-direction: column;
      align-items: center;
      transition: 0.3s ease-out;
      @media only screen and (max-width: 575px) {
        &:first-child {
          margin-bottom: 2rem;
        }
      }
      &:hover {
        transform: translateY(-10px);
      }
      &__name {
        font-size: 2rem;
        font-weight: 300;
        margin: 0;
      }
      &__price {
        font-size: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        margin-top: 1.5rem;
        font-weight: 300;
        span {
          margin-left: -5px;
        }
      }
      &__icon {
        width: 4.5rem;
        height: 4.5rem;
        fill: #dddddd;
      }
      &__date {
        color: #dddddd8e;
        margin-top: -1.6rem;
        font-size: 1.4rem;
        margin-bottom: 2rem;
      }
      &__list {
        list-style: none;
        margin: 0;
        text-align: center;
        padding: 0;
        margin-top: 2rem;

        &--item {
          text-transform: capitalize;
          border-bottom: 1px solid var(--primary-color);

          &:not(:last-child) {
            margin-bottom: 2rem;
          }
        }
      }
    }
  }
  .fun-fact {
    display: flex;
    justify-content: space-between;
    @media only screen and (max-width: 575px) {
      flex-direction: column;
    }
    .fact {
      background-color: #353b48;
      transition: 0.3s ease-out;
      border-radius: 1rem;
      border: 2px solid #46474b8a;
      flex: 30% 0 0;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: center;
      padding: 2rem;
      @media only screen and (max-width: 575px) {
        &:not(:last-child) {
          margin-bottom: 2rem;
        }
      }
      &:hover {
        transform: translateY(-10px);
      }
      &__icon {
        width: 3.5rem;
        height: 3.5rem;
        fill: var(--primary-color);
      }
      &__name {
        margin: 1rem 0;
        font-size: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
        color: rgb(238, 238, 238);
      }
      &__number {
        margin: 1rem 0;
        font-size: 2rem;
        color: rgb(161, 161, 161);
      }
    }
  }

  //Age container
  #age-container {
    font-weight: normal;
  }
}
