#contact {
  .contact__wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    @media only screen and (max-width: 700px) {
      flex-direction: column;
    }
    .personal__info {
      flex: 30% 0 0;
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      @media only screen and (max-width: 700px) {
        margin-bottom: 2rem;
      }
      &--icon {
        margin-bottom: 1rem;
      }
      &--item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1.5rem;
        background-color: var(--container-bg);
        border: 1px solid rgba(156, 156, 156, 0.411);
        width: 100%;
        &:not(:last-child) {
          margin-bottom: 1.3rem;
        }
      }
    }
    .contact__input {
      flex: 65% 0 0;
      .map {
        width: 100%;
        height: 15rem;
        background-color: var(--container-bg);
      }
      .contact__form {
        position: relative;
        display: flex;
        justify-content: space-between;
        @media only screen and (max-width: 480px) {
          flex-direction: column;
        }
        &--left {
          flex: 0 0 48%;
          @media only screen and (max-width: 480px) {
            margin-bottom: 3rem;
          }
          .form__group {
            height: 4rem;
            &::before {
              position: absolute;
              content: " ";
              top: -2px;
              left: -2px;
              border: 2px solid var(--primary-color);
              border-radius: 0.5rem;
              width: 0;
              height: 100%;
              transition: 0.3s ease-out;
              opacity: 0;
            }
            &.input-focus {
              &::before {
                width: 100%;
                opacity: 1;
              }

              .form__control {
                border-color: transparent;
              }
            }
            label {
              top: 50%;
              transform: translateY(-50%) translateX(15%);
            }
            .form__control:focus + label {
              top: -25% !important;
              font-size: 1.2rem;
              transform: translateY(-50%) translateX(0%) !important;
              color: var(--primary-color);
            }
          }
        }
        &--right {
          flex: 0 0 48%;
          .form__group {
            margin-bottom: 1.5rem;
            &::before {
              position: absolute;
              content: " ";
              top: -2px;
              left: -2px;
              border: 2px solid var(--primary-color);
              border-radius: 0.5rem;
              width: 0;
              height: 100%;
              transition: 0.3s ease-out;
              opacity: 0;
            }
            height: 75%;

            label {
              top: 5%;
              transform: translateX(15%);
            }

            &.input-focus {
              &::before {
                width: 100%;
                opacity: 1;
              }

              .form__control {
                border-color: transparent;
              }
            }

            .form__control:focus + label {
              top: -7% !important;
              font-size: 1.2rem;
              transform: translateY(-50%) translateX(0%) !important;
              color: var(--primary-color);
            }
          }
        }
      }
      .btn__ghost {
        border: 3px solid var(--primary-color) !important;
        @media only screen and (max-width: 480px) {
          margin-top: 2rem;
        }
      }
    }

    .secondary-heading {
      &:after {
        right: -5%;
      }
      @media only screen and (max-width: 400px) {
        font-size: 2rem;
      }
    }
  }
}
